<h1><%= @dental_office.name %></h1>
<%= button_to "Edit Office Info", "/dental_offices/#{@dental_office.id}/edit", method: :get %>

<section id="office_info">
<h3>Insurance Type Accepted: <%= @dental_office.insurance_type %></h3>
<p>Street Address: <%= @dental_office.street_address %></p>
<p>City: <%= @dental_office.city %></p>
<p>State: <%= @dental_office.state %></p>
<p>Zip Code: <%= @dental_office.zip_code %></p>
</section>

<section id="dentist_list">
  <h3>Dentists Currently Working Here:</h3>
  <ul>
  <% @dental_office.dentists.each do |dentist| %>
    <li><%= link_to dentist.name %></li></br>
  <% end %>
  </ul>
</section>